<%= form_for(patient) do |f| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :date_of_Birth %>
    <%= f.date_select :date_of_Birth %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :infection %>
    <%= f.text_area :infection %>
  </div>

  <div class="field">
    <%= f.label :injury %>
    <%= f.text_area :injury %>
  </div>

  <div class="field">
    <%= f.label :observations %>
    <%= f.text_area :observations %>
  </div>

  <div class="field">
    <%= f.label :doctor_id %>
    <%= collection_select(:patient, :doctor_id, @doctors, :id, :name, {:prompt => false}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
