<%= form_for(patient) do |f| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :date_of_birth %>
    <%= f.date_field :date_of_birth, class: 'form-control' %>

    <%= f.label :gender %>
    <%= collection_select(:patient, :gender, Patient::GENDER, :to_s, :to_s, {:prompt => false}, class: 'form-control') %>

    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>

    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>

    <%= f.label :contact %>
    <%= f.text_field :contact, class: 'form-control' %>

    <%= f.hidden_field :doctor_id, :readonly => true, class: 'form-control' %>

    <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
