<%= form_for(patient) do |f| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :date_of_Birth %>
    <%= f.date_field :date_of_Birth, class: 'form-control' %>

    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>

    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: 'form-control' %>

    <%= f.label :infection %>
    <%= f.text_area :infection, class: 'form-control' %>

    <%= f.label :injury %>
    <%= f.text_area :injury, class: 'form-control' %>

    <%= f.label :observations %>
    <%= f.text_area :observations, class: 'form-control' %>

    <%= f.label :doctor_id %>
    <%= collection_select(:patient, :doctor_id, @doctors, :id, :name, {:prompt => false}, class: 'form-control') %>

    <%= f.submit "Create Patient", class: "btn btn-primary" %>
<% end %>
