<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @patient.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @patient.contact %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @patient.doctor.name %>
</p>

<div class = "btn-group">
<%= link_to 'Edit', edit_patient_path(@patient), class: "btn btn-info" %>
<%= link_to 'Back', patients_path, class: "btn btn-warning" %>
<%= link_to 'Patient Records', patient_records_path(@patient), class: "btn btn-success" %>
<%= link_to 'Refer', new_patient_referral_path(@patient), class: "btn btn-primary" %>
</div>
