<% provide(:title, @doctor.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @doctor %>
        <%= @doctor.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @doctor.appointments.any? %>
      <h3>Appointments (<%= @doctor.appointments.count %>)</h3>
      <ol class="microposts">
        <%= render @appointments %>
      </ol>
      <%= will_paginate @appointments %>
    <% end %>
  </div>
</div>
