<li id="micropost-<%= appointment.id %>">
  <div class="gravatar_edit">
  <% if appointment.doctor.picture? %>
    <%= link_to( image_tag(appointment.doctor.picture.url), appointment.doctor) %>
  <% end %>
  <span class="user"><%= link_to appointment.doctor.name, appointment.doctor %></span>
</div>
  <span class="content"><%= appointment.appointment_date.strftime("%A, %e %B, %Y") %></span>
  <span class="content"><%= appointment.appointment_time.strftime("%I:%M%p") %></span>
  <span class="content"><%= appointment.patient.name %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(appointment.created_at) %> ago.
    <br>
    <% if current_doctor?(appointment.doctor) %>
      <%= link_to 'Show', appointment, class: "btn btn-info" %>
      <%= link_to 'Edit', edit_appointment_path(appointment), class: "btn btn-warning" %>
      <%= link_to "Delete", appointment, method: :delete,
                                       data: { confirm: "You sure?" }, class: "btn btn-danger" %>
    <% end %>
  </span>
</li>
