<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment Date:</strong>
  <%= @appointment.fixed_date %>
</p>

<p>
  <strong>Appointment Time:</strong>
  <%= @appointment.fixed_time %>
</p>

<p>
  <strong>Patient:</strong>
  <%= link_to @appointment.patient.name, @appointment.patient %>
</p>

<div class = "btn-group">
<%= link_to 'Edit', edit_appointment_path(@appointment), class: "btn btn-warning" %>
<%= link_to 'Back', appointments_path, class: "btn btn-success" %>
</div>
